// Fuentes
$font1: "Titillium Web", sans-serif;
$font2: 'Nunito', sans-serif;

// Colores principales
$vibrante: #800080;
$intenso: #6A0DAD;
$real: #9B59B6;
$suave: #E6E6FA;
$claro: #C8A2C8;
$brillante: #9966CC;
$profundo: #8A2BE2;
$suave2: #9370DB;
$orquidea: #DA70D6;
$claro2: #D8BFD8;

$bg-col-3: #fff;
$tx-color-1: #fff;
$tx-color-2: #000;
$body-bg: #f8fafc;