.principal{
    background-color: rgba($color: $gris, $alpha: 0.3);
    background-repeat: no-repeat;
    background-attachment:scroll;
    
}
.main-container{
    background: rgba(255, 255, 255, 0.8);
}

// Estilos Hero
.hero-image {
    background-size: cover;
    background-position: center;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-text {
    color: $suave;
    font-weight: bolder;
    -webkit-text-stroke: 2px black;
  }
//   Estilos carousel
.carousel-item {
    height: 400px;
  }

  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .carousel-item .carousel-caption {
    background-color: #800080;
    color: #fff;
  }

  .carousel-item h3 {
    color: #9B59B6;
  }

  .carousel-item p {
    color: #E6E6FA;
  }