.principal{
    // background-image: url('http://localhost/php/PROYECTOS/forodrones/public/images/bandera.png');
    background-repeat: no-repeat;
    background-attachment:scroll;
    
}
.main-container{
    background: rgba(255, 255, 255, 0.8);
}